*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  
  
}

.body-studio .body-portfolio {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--font-color);
}
:root {
  --brand-color: #2f303a;
  --item-color: #2196f3;
  --font-color: #212121;
    --main-white: #FFFFFF;
      --second-white: #F5F4FA;
      --main-silver: #757575;
}

.nav-bar {
  min-width: 1200px;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.30;
  letter-spacing: 0.03em;
  background-color: #FFFFFF;
  color: rgb(2, 7, 7);
  text-decoration: none;
  margin: 0;

}

.nav-items {
  list-style-type: none;
}

.contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  list-style-type: none;
  
}

.nav-web {
  font-family: "Raleway", sans-serif;
  color: rgba(33, 150, 243, 1);
  font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
  

}

.nav-item1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: black;
}

.nav-item-agency {
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 5%;
}
.nav-item2 {
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #212121;
  margin-left: 3%;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
.contact2-bot:hover {
  color: var(--item-color);
}

.contact1-bot:hover {
  color: var(--item-color);
}
#link1 {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.contact1 {
  margin-left: 19%;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact2 {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #757575;
}

.main-top {
  text-align: center;
  background: var(--brand-color);
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  height: 600px;
    width: auto;
}
.main-content {
  padding-top: 10%;
  line-height: 1.36;

}
.main-btn {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 350, 700, 200, 700;
    height: 50px;
    width: 200px;
}
.main-bttn:hover {
  font-family: "Roboto", sans-serif;
  background-color: var(--item-color);
  color: #ffffff;
}
.btn-hover {
  cursor: pointer;
  background-color: var(--item-color);
}

.buttons {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  gap: 8px;
}

.content-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  
  letter-spacing: 0.03em;
  color: #212121;
  background-color: rgba(245, 244, 250, 1);
  padding-top: 94px;
}
.content-text-box {
  background-color: #FFFFFF;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 83px;
  padding-top: 20px;
}

.bottom {
  background: var(--brand-color);
  min-height: 252px;
    margin-right: %;

}

.contact-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-content {
  padding-right: 6%;
  padding-top: 60px;
}
.nav1 {
  color: white;
}

#link3 {
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.buttons button {
  width: 121px;
  border-radius: 6px;
  height: 40px;
  background: #f5f4fa;
  border: none;
}

.btn-hover:hover {
  background-color: var(--item-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  border: none;
  color: rgb(255, 255, 255);
}

.contact1:hover {
  color: var(--item-color);
}

.contact2:hover {
  color: var(--item-color);
}

.content {
  list-style-type: none;
}
.content-ul {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 12%;

  list-style: none;
  max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
}

.content-listp {
  /*  Set the width of the elements  */
  flex-basis: calc((100% - 20px) / 3);

  max-width: 270px;
  list-style: none;
  padding: 0;
}

.nav-item2:hover {
  color: var(--item-color);
}

.body-studio .body-portfolio {
  background: #e5e5e5;
}

.contact-list {
  list-style: none;
}

.contact-bottom {
  list-style-type: none;
}

.font-primary {
  font-family: Roboto, sans-serif;
}

.hidden_h2 {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.nav {
  display: flex;
  display: inline;
}

.nav-bar {
  line-height: 80px;
  background-color: #FFFFFF;
    
    border-bottom: rgba(236, 236, 236, 1) solid;
    
}

.contact1 {
  margin-left: 25%;
  
    padding-right: 10px;
}

.contact2 {
  margin-left: %;
    padding-left: 40px;
}

.button {
  

}

.buttons {
  padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  
}

#link3 {
  margin-bottom: 20px;
  margin-left: 5rem;
}
.section-list {
  max-width: 1200px;
  padding: px;
  margin-left: auto;
  margin-right: auto;
}

.lorem-ul {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 0px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  padding-top: 94px;
  
}
.lorem-li {
  /*  Set the width of the elements  */
    flex-basis: calc((100% - 20px) / 4);
  
  
    background-color: #fff;
    max-width: 270px;
    
    list-style: none;
    padding: 0;

}
.logo {
  display: flex;
    display: inline;
    justify-content: space-between;
  
  font-family: "Raleway", sans-serif;
  
}

.lorem-h {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 0.87;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.contact1-bot {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 40px;
}

.contact2-bot {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}
.lorem-p {
  font-style: normal;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
    font-size: 14px;
}

.conent-fig-cap {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  margin-left: 5%;
}

.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #757575;
  display: block;
}
.conent-fig-cap-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #757575;
  margin-left: 5%;
  
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  }


.content-team {
  list-style: none;
}

.content-team {
  display: flex;
  gap: 43px;
  padding: 0;
  list-style: none;
  background: rgba(245, 244, 250, 1);
  padding-bottom: 10px;
    margin: 0 auto;
}

.content-team-list {
  /*  Set the width of the elements  */
  background-color: rgba(245, 244, 250, 1);
  list-style: none;
  padding-bottom: 94px;
}


.content-img1 {
background-color: white;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      max-width: 100%;
        width: 100%;
        height: auto;
        max-width: max-content;
}

.content-text1 {
  
  background-color: white;

  display: block;
}

.content-img {
  border: #757575 solid;
  
}
.content-img-text {
  padding-bottom: 20px;
  color: var(--main-silver);
}
.image-port {
  border: 1px solid #EEEEEE;
  min-width: 370px;
  margin-bottom: 15px;
}
.box-images {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.content-box {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
  
}
.box-imgs {
  width: 33.333%;
}

.header-portfolio {
  max-width: 1200px;
  width: 100%;
    height: auto;
}

.nav-bottom {
margin-right: 100px;
}

.buttons-portfolio {
  padding-top: 94px;
}

.content-studio {
  background-color: rgba(245, 244, 250, 1);
}
